---
const { question, name, pic } = Astro.props;
const image = `/images/trader-${pic}.png`;
---

<article class:list={["PowerTool", name]}>
	<div class="px-4 mb-6">
		<div class="powertool flex gap-4 flex-col md:flex-row">
			<img class="aspect-square" src={image} width="300" height="300" alt="" />
			<div class="blurb space-y-6">
				<h2>{name}</h2>
				<h3>{question}</h3>
				<slot>
					<p>Answer Blurb</p>
				</slot>
				<button class="btn mt-auto">Watch the video</button>
			</div>
		</div>
	</div>
</article>

<style lang="scss">
	.powertool {
		h2 {
			font-size: 1.5rem;
		}
		h3 {
			font-size: 1.25rem;
		}

		.btn {
			@apply px-6 py-2 bg-blue-700 text-white rounded-lg;
		}

		img {
			@apply inline-block;
		}
	}
</style>
