---
import PowerTool from "../../../components/powertools/PowerTool.astro";
import Overview from "../../../components/powertools/Overview.astro";
---

<main id="PowerTools">
	<Overview />

	<PowerTool name="Tester" question="What in the what?" pic="eod" />

	<PowerTool name="Analyzer" question="Who then?" pic="realtime">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex consequuntur
			nulla impedit sit omnis molestiae facere eos, cum aspernatur consequatur
			laboriosam et quasi quos, reprehenderit facilis adipisci nobis odio
			aperiam.
		</p>
	</PowerTool>

	<PowerTool
		name="Do-Dad"
		question="I dont know about that"
		pic="fundamental"
	/>

	<PowerTool name="Forecaster" question="Whatever then?" pic="forecaster" />
</main>
